.headerComp{
  padding: 20px 40px;
  background: rgba(0,0,0,.1);
  .logo{
    img{
      width: 160px;
      height: 40px;
    }
  }
  .login,.shippingCar,.language{
    display: flex;
    align-items: center;
    b{
      margin-left: 10px;
    }
  }
}