.App::after {
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none!important;
}
li{
    list-style: none;
}
.content{
    margin-top: 20px;
}
.wrap-content{
    width: 1200px;
    margin: 0 auto;
}