.App::after {
    clear: both;
}
*{
    margin: 0;
}
.content{
    margin-top: 20px;
}
.footerComp{
    background: cornflowerblue;
    padding: 20px ;
}
.wrap-content{
    width: 1200px;
    margin: 0 auto;
}