.App::after {
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none!important;
}
ul{
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    color: #181818;
}
.wrap-content{
    width: 1200px;
    margin: 0 auto;
}